@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jua&family=Kdam+Thmor+Pro&family=Libre+Baskerville&family=Poppins:wght@300;400;700&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


:root{
    --dark: #2C3333;
    --darkblue: #395B64;
    --lightblue: #A5C9CA;
    --white: #E7F6F2;
}

*{
    margin: 0;
    padding: 0;
    color: var(--white);
    background-color: var(--darkblue);
}

.navbar{
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}
.nav-links{
    display: flex;
    align-items: center;
    fill: var(--white);
}
.logo span{
    color: #A5C9CA;
}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.links{
    padding-left: 10px;
    padding-right: 10px;
}
img .down-arrow{    
    margin-top: 10px;
}
h1 a{
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 2.7rem;
    padding: 20px;
}
h1{
    padding: 10px;
    margin-left: 40px;
}
